<%/**
 * footer.ejs
 * Due Date: March 18, 2022

 * @link   footer.ejs
 * @file   This file defines the view of footer.
 * @author DevSports
 * @since  1.0.0
 */%>

          <!-- Begin Page Footer-->
          <% include ../partials/footer_page.ejs %>
          <!-- End Page Footer -->
        </div>
        <!-- End Content -->
      </div>
      <!-- End Page Content -->
    </div>

    <!-- Begin Vendor Js and Page Vendor Js -->
    <% include ../partials/footer_js.ejs %>
    <!-- End Vendor Js and Page Vendor Js -->
  </body>
</html>
