
          <!-- Begin Page Footer-->
          <% include ../partials/footer_page.ejs %>
          <!-- End Page Footer -->
        </div>
        <!-- End Content -->
      </div>
      <!-- End Page Content -->
    </div>

    <!-- Begin Vendor Js and Page Vendor Js -->
    <% include ../partials/footer_js.ejs %>
    <!-- End Vendor Js and Page Vendor Js -->
  </body>
</html>
