<%/**
 * header_preloader.ejs
 * Due Date: March 18, 2022
 *
 * @link   header_preloader.ejs
 * @file   This file defines the view of header preloader.
 * @author DevSports
 * @since  1.0.0
 */%>

<!-- Begin Preloader -->
<div id="preloader">
    <div class="canvas">
        <img src="/Assets/images/DevSports.png" alt="logo" class="loader-logo">
        <div class="spinner"></div>   
    </div>
</div>
<!-- End Preloader -->