
<!-- Begin Side Navbar -->
<nav class="side-navbar box-scroll sidebar-scroll">
    <!-- Begin Main Navigation -->
    <ul class="list-unstyled">
        <li>
            <a href="/">
                <i class="la la-home"></i><span>Home</span>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="la la-info"></i><span>Info</span>
            </a>
        </li>
    </ul>
    <!-- End Main Navigation -->
</nav>
<!-- End Side Navbar -->