<%/**
 * header_page.ejs
 * Due Date: March 18, 2022
 *
 * @link   header_page.ejs
 * @file   This file defines the view of header part of the pages.
 * @author DevSports
 * @since  1.0.0
 */%>


<!-- Begin Header -->
<header class="header">
    <nav class="navbar fixed-top">
        <!-- Begin Topbar -->
        <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
            <!-- Begin Logo -->
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <div class="brand-image brand-big">
                        <img src="/Assets/images/DevSports.png" alt="logo" style="width: 200px;" class="logo-big">
                    </div>
                    <div class="brand-image brand-small">
                        <img src="/Assets/images/DevSports.png" alt="logo" style="width: 200px;" class="logo-small">
                    </div>
                </a>
                
                <!-- Toggle Button -->
                <a id="toggle-btn" href="#" class="menu-btn active">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>

                <!-- End Toggle -->
            </div>
            <!-- End Logo -->
            <div  class="blinking" >
                <p  style= "font-size: xxx-large; font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">
                    Never give up!
                </p>
            </div>

        </div>
        <!-- End Topbar -->
    </nav>
</header>
<!-- End Header -->