
<% include ../partials/header.ejs %>

<div class="row justify-content-center">
    <div class="col-xl-11">
        <!-- Begin Page Header-->
        <div class="page-header pr-0 pl-0">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title"><%= title %></h2>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row flex-row">
            <div class="col-xl-12">
                <!-- Form -->
                <div class="widget has-shadow">
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4><%= title %></h4>
                    </div>
                    <div class="widget-body">
                      <p>Sorry, the page you are looking for is not found :(</p>
                    </div>
                </div>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Row -->
    </div>
<!-- End Col -->
</div>
<!-- End Row -->

<% include ../partials/footer.ejs %>
