<%/**
 * details.ejs
 * Due Date: March 18, 2022
 *
 * @link   details.ejs
 * @file   This file defines the form to show in the Tournament Add/Edit Page.
 * @author DevSports
 * @since  1.0.0
 */%>

<% if(typeof displayName == 'string' && displayName) { %> 
  <% include ../partials/header.ejs %>

  <div class="row justify-content-center">
    <div class="col-xl-11">
        <!-- Begin Page Header-->
        <div class="page-header pr-0 pl-0">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">Create Tournament</h2>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row flex-row">
            <div class="col-xl-12">
                <!-- Form -->
                <div class="widget has-shadow">
                    <!-- Page title -->
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>Tournament Form</h4>
                    </div>

                    <div class="widget-body">

                      <!-- Message Area -->
                      <% if(messages.length> 0) {%>
                      <div class="alert alert-danger">
                          <%= messages %>
                      </div>
                      <% } %>

                      <form class="form" method="post">
                        <div class="form-group">
                          <label for="NameTextField">Name</label>
                          <input type="text" class="form-control" id="NameTextField"
                          placeholder="Creator's Name" name="name" required>
                        </div>
                        <div class="form-group">
                          <label for="sportsTextField">Sports</label>
                          <input type="text" class="form-control" id="sportsTextField"
                          placeholder="Sports" name="sports"   required>
                        </div>
                        <div class="form-group">
                          <label for="DetailsTextField">Details</label>
                          <input type="text" class="form-control" id="DetailsTextField"
                          placeholder="Match details" name="details"   required>
                        </div>
                        <div class="form-group">
                          <label for="MatchesTextField">Matches</label>
                          <input type="text" class="form-control" id="MatchesTextField"
                          placeholder="Tournament Matches" name="matches"   required>
                        </div>
                        <div class="form-group">
                          <label for="PrizepoolTextField">Prizepool</label>
                          <input type="text" class="form-control" id="PrizepoolTextField"
                          placeholder="Tournament Prizepool" name="prizepool"   required>
                        </div>


                        <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
                        <a href="/tournament" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
                      </form>
                    </div>
                  </div>

              </div>
              <!-- End Col -->
          </div>
          <!-- End Row -->
      </div>
      <!-- End Col -->
  </div>
  <!-- End Row -->

  <% include ../partials/footer.ejs %>
    
<% } else { %>
  <script> document.location.href = '/login' </script>
<% } %>
