
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header_head.ejs %>
  </head>
  <body id="page-top">
    <!-- Begin Preloader -->
    <% include ../partials/header_preloader.ejs %>
    <!-- End Preloader -->
    <div class="page db-social">
      <!-- Begin Header -->
    <% include ../partials/header_page.ejs %>
      <!-- End Header -->

      <!-- Begin Page Content -->
      <div class="page-content d-flex align-items-stretch">
        <!-- Begin Side Navbar -->
        <div class="compact-sidebar light-sidebar has-shadow">
          <% include ../partials/header_sidebar.ejs %>
        </div>
        <!-- End Side Navbar -->
        
        <!-- Begin Content -->
        <div class="content-inner compact">
          <div class="container-fluid">
          </div>
          <!-- End Container -->
