<%/**
 * login.ejs
 * Due Date: March 29, 2022
 *
 * @link   login.ejs
 * @file   This file defines the form to show the Login Page.
 * @author DevSports
 * @since  1.0.0
 */%>
 
<%- include ../partials/header.ejs %>

<div class="row justify-content-center">
    <div class="col-xl-11">
        <!-- Begin Page Header-->
        <div class="page-header pr-0 pl-0">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">Login</h2>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row flex-row">
            <div class="col-xl-12">
                <!-- Form -->
                <div class="widget has-shadow">
                    <!-- Page title -->
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>Login Form</h4>
                    </div>

                    <div class="widget-body">
        
                        <!-- Message Area -->
                        <% if(messages.length > 0) {%>
                            <hr class="my-3"><br>
                            <div class="alert alert-danger">
                                <%= messages %>
                            </div>
                        <% } %>
    
                        <form autocomplete="off" class="auth-container form" method="POST">
                            <fieldset class="form-group">
                                <label for="username">Username: </label>
                                <input type="text" class="form-control"
                                name="username" placeholder="Enter username"
                                id="username" required autofocus>
                            </fieldset>
    
                            <fieldset class="form-group mt-2">
                                <label for="password">Password: </label>
                                <input type="password" class="form-control"
                                name="password" placeholder="Enter password"
                                id="password" required>
        
                            </fieldset>
    
                            <fieldset class="form-group text-right mt-2">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Login</button>
                                <a href="/" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
                            </fieldset>
                            <br>
                            If you don't have account please <a class="btn btn-info" href="/register">Register Here</a>
    
                        </form>
                    </div>
                </div>

            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Col -->
</div>
<!-- End Row -->

 
<%- include ../partials/footer.ejs %>
